@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

.container{
   width: 100%;
   max-width: 1440px;
   padding: 25px 72px;
}

body{
     background-color: aliceblue;
     font-family: "Inter", sans-serif;
}




:root {
  --color-bg: #ffffff;
  --color-text: #111827;
  --primary: #8987A1;
  --color-border: #e5e7eb;
}